body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Halant-Regular";
    src: url(../polices/Halant-Regular.ttf);
}

@font-face {
    font-family: "NunitoSans-Light";
    src: url(../polices/NunitoSans-Light.ttf);
}


/* HEADER */


/* header {
    background-color: rgba(47, 62, 70, 1);
    width: 100%;
    position: sticky;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    top: 0;
} */


/* partie steph 1 */

header {
    background-color: rgba(47, 62, 70, 1);
}

.nav-link {
    font-family: Halant-Regular;
    color: white;
}

.nav-link:hover {
    font-family: Halant-Regular;
    color: white;
    background-color: rgba(82, 121, 111, 1);
}

.navbar-toggler {
    color: rgb(255, 255, 255);
    text-align: right;
}

.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.4em;
}

.navbar-nav li {
    color: white;
}

#logo {
    text-align: center;
    height: 100px;
    width: 100%;
}

#logo img {
    width: 170px;
    height: auto;
}


/* fin partie steph 1 */


/* partie steph 2*/

button {
    background-color: rgba(88, 129, 87, 1);
    font-size: 20px;
    color: white;
    text-align: center;
}

button:hover {
    background-color: rgba(163, 177, 138, 1);
    border: rgba(47, 62, 70, 1);
    border-style: solid 2px;
    align-items: center;
    transition-duration: 700ms;
}

.container-fluid {
    background-color: rgba(58, 90, 64, 0.5);
    padding-bottom:0.5%;
}

.card-img {
    height: 80%;
}


/* fin partie 2 steph */

.image {
    width: 100%;
    height: 90%;
    z-index: 1;
    border: 2px solid rgba(47, 62, 70, 1);
    padding: 8px;
}
/*fin partie steph 2*/
.headervideo{
    width: 100%;
    overflow: hidden;
}

video {
    width: 100%;
}

h1 {
    color: rgba(47, 62, 70, 1);
    font-family: Halant-Regular;
    font-size: 50px;
}


/*carousel Lydie*/

.carousel-inner {
    width: 100%;
}

.ctn {
    background-color: #9CAC9F;
    font-family: "NunitoSans-Light";
}

#carousel-content {
    height: 20%;
}

#carouselExampleControls {
    height: 20%;
}

/*fin carousel Lydie*/


/*page évenements*/
.card-img-top{
    height:200px;
}


/*fin page événements*/

.presentation {
    position: absolute;
    width: 100%;
    margin: 0px;
    z-index: 1;
    opacity: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#feuille {
    width: 70px;
    height: 70px;
}

.intro {
    font-family: NunitoSans-Light;
    font-size: 20px;
    color: white;
    background-color: rgba(47, 62, 70, 1);
    padding: 10px;
    width: 45%;
    opacity: 0.7;
    text-align: center;
}


/* CAROUSEL */

#partThree {
    background-color: rgba(202, 210, 197, 1);
}

#gallerySquare {
    background-color: rgba(58, 90, 64, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: " Halant-Regular";
    font-size: 25px;
    padding: 50px;
}

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.sizeAjust {
    width: 50%;
    padding-top: 8%;
}

.center {
    display: flex;
    justify-content: center;
}

/* GALERIE */

#galeryCtn {
    background-color: #CAD2C5;
}

.card {
    background-color: #CAD2C5;
}

.img-fluid {
    height: auto;
}

.card {
    background-color: #9CAC9F;
}


/* CONTACT */

#contactTitle {
    margin-top: 20px;
    color: white;
}

.fontContainerContact {
    font-size: 1.3em;
}

#contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9CAC9F;
    height: auto;
}

.sizeForm {
    padding-top: 25px;
    padding-bottom: 25px;
}

.backgrounModal {
    background-color: rgba(47, 62, 70, 1);
    color: white;
}

.modalBtnClose {
    color: white;
}


/* FOOTER */

.containerFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 20px;
    font-family: "NunitoSans-Light";
    background-color: rgb(47, 62, 70);
    color: white;
}

.liste {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

li {
    padding: 5px 0px;
}

.title {
    font-family: "NunitoSans-Light";
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

#iconCtn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.fab {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-size: 4em;
}

.fab:hover {
    color: #9CAC9F;
}

.services {
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 13px;
}

.information {
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 13px;
}

.copyright {
    grid-column-start: 2;
    text-align: center;
    opacity: 0.3;
    font-size: 13px;
    margin: 0%;
}


/* RESPONSIVE */

@media screen and (max-width: 680px) {
    .carousel::before,
    .carousel::after {
        height: 20px;
        width: 20px;
    }
    .carousel__navigation-button {
        height: 20px;
        width: 20px;
    }
    #navIcon {
        display: block;
        font-size: 3em;
        margin: 0px 20px 10px;
        color: white;
    }
    .onglet {
        display: none;
    }
    .intro {
        display: none;
    }
    .mainphotos {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }
    .information {
        font-size: 0.8em;
    }
    .services {
        font-size: 0.8em;
    }
    .title {
        font-size: 1em;
    }
    .fab {
        font-size: 2.5em;
    }
}